<html layout:decorate="~{global/layouts/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container my-3">
    <link rel="stylesheet" href="/css/style.css"> <!-- CSS 파일 연결 -->

    <div class="container event-list">
        <h1 class="text-2xl font-bold mb-6">목록</h1>
        <div class="grid grid-cols-4 gap-4">
            <div th:each="event : ${eventList}" class="bg-white rounded-lg shadow-lg overflow-hidden">
                <a th:href="@{/event/detail/{id}(id=${event.eventId})}" class="block">
                    <div class="w-full h-48 overflow-hidden">
                        <img th:src="@{${event.header.path}}" alt="헤더 이미지" class="w-full h-full object-contain header-img">
                    </div>
                    <div class="p-4">
                        <h2 class="font-bold text-lg line-clamp-2" th:text="${event.title}"></h2>
                        <p class="text-gray-600" th:text="${#temporals.format(event.eventDate, 'yyyy.MM.dd')}"></p>
                        <p class="text-gray-600" th:text="${event.location}"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</html>