<html layout:decorate="~{global/layouts/layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content" class="container my-5"> <!-- 상하 여백을 추가하기 위해 my-5 사용 -->
    <link rel="stylesheet" href="/css/style.css"> <!-- CSS 파일 연결 -->
    <div class="event-detail-container">
        <div class="flex items-start bg-white rounded-lg shadow-lg overflow-hidden">
            <div class="mb-3">
                <label class="form-label"></label><br>
                <img th:src="@{${event.header.path}}" alt="헤더 이미지" class="img-fluid event-header-img">
            </div>

            <div class="p-4 w-2/3">
                <h1 class="text-2xl font-bold">
                    <!--<span th:text="${event.eventCategory == 'PERFORMANCE' ? '공연' : (event.eventCategory == 'PUB' ? '주점' : (event.eventCategory == 'UNIVERSITY_EVENT' ? '행사' : '')))}"></span>-->
                    <span th:text="${event.title}"></span>
                </h1>

                <p class="text-gray-600 mt-2">장소: 계명아트센터</p>
                <p class="text-gray-600">공연기간: 2025.01.11 ~ 2025.01.26</p>
                <p class="text-gray-600">공연시간: 155분(인터미션 20분 포함)</p>
                <p class="text-gray-600">관람연령: 초등학생 이상 관람가</p>
                <p class="text-gray-600">가격: <span th:text="${event.entranceFee} + '원'"></span></p>
                <div class="mt-4">
                    <button class="bg-red-600 text-white px-4 py-2 rounded">예매하기</button>
                </div>
            </div>
        </div>

        <div class="mb-3 event-detail-img">
            <img th:src="@{${event.detail.path}}" alt="상세정보 이미지" class="img-fluid" style="max-width: 100%;">
        </div>

        <a href="/" class="go-event-list">목록으로 돌아가기</a>
    </div>
</div>

</div>
</html>
<!--
<div class="container mx-auto p-4">
    <div class="flex items-start bg-white rounded-lg shadow-lg overflow-hidden">
        <img src="path/to/your/image.jpg" alt="공연 포스터" class="w-1/3 h-auto object-cover">
        <div class="p-4 w-2/3">
            <h1 class="text-2xl font-bold">뮤지컬 <span class="text-red-500">킹키부츠</span> - 대구</h1>
            <p class="text-gray-600 mt-2">장소: 계명아트센터</p>
            <p class="text-gray-600">공연기간: 2025.01.11 ~ 2025.01.26</p>
            <p class="text-gray-600">공연시간: 155분(인터미션 20분 포함)</p>
            <p class="text-gray-600">관람연령: 초등학생 이상 관람가</p>
            <p class="text-gray-600">가격: 전체가격 보기</p>
            <div class="mt-4">
                <button class="bg-blue-500 text-white px-4 py-2 rounded">예매하기</button>
            </div>
        </div>
    </div>
</div>
-->