<html layout:decorate="~{global/layouts/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container my-3">
    <link rel="stylesheet" href="/css/home.css"> <!-- CSS 파일 연결 -->
    <div class="carousel carousel-center bg-neutral rounded-box max-w-md space-x-4">
        <div class="carousel-item" th:each="event : ${eventList}">
            <a th:href="@{/event/detail/{id}(id=${event.eventId})}">
                <img th:src="@{${event.header.path}}" alt="헤더 이미지" class="img-fluid">
            </a>
        </div>

        <div class="carousel-item" th:each="event : ${eventList}">
            <a th:href="@{/event/detail/{id}(id=${event.eventId})}">
                <img th:src="@{${event.header.path}}" alt="헤더 이미지" class="img-fluid event-header-img">
            </a>
        </div>

        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <a href="/event/list" class="btn btn-primary">모든 행사 보기</a>
</div>

</html>
