<html layout:decorate="~{global/layouts/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container my-3">
    <link rel="stylesheet" href="/css/home.css"> <!-- CSS 파일 연결 -->

    <div class="text-end"> <!-- 오른쪽 정렬을 위한 클래스 -->
        <a href="/event/list" class="go-event-list">모든 행사 보기</a>
    </div>
<!--
    <div id="carousel" class="carousel slide carousel-center bg-neutral rounded-box max-w-md space-x-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" th:each="event, iterStat : ${eventList}" th:class="${iterStat.index == 0} ? 'active' : ''">
                <a th:href="@{/event/detail/{id}(id=${event.eventId})}">
                    <img th:src="@{${event.header.path}}" alt="헤더 이미지" class="img-fluid d-block w-100">
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
-->

    <div class="container">
        <div class="carousel">
            <div class="cell" th:each="event, iterStat : ${eventList}">
                <a th:href="@{/event/detail/{id}(id=${event.eventId})}">
                    <img th:src="@{${event.header.path}}" alt="헤더 이미지" class="img-fluid d-block w-100">
                </a>
            </div>
        </div>
    </div>
    <div class="prev-button">이전</div>
    <div class="next-button">다음</div>

</div>

</html>